* {
    font-family: 'Roboto', Helvetica, sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(34, 34, 34);
    justify-items: center;
}

#aboutUs{
    margin:0px 0px 30px 0px;
}

.loginForm{
    margin:0px 0px 202px 0px;
}

.signUpForm{
    margin:0px 0px 174px 0px;
}

.equipmentForm{
    margin:0px 0px 92px 0px;
}

#category{
    margin:0px 0px 50px 0px;
}

.categoryForm{
    margin:0px 0px 179px 0px;
}

#categoryName{
    width: 15%;
}

#equipmentName{
    width: 15%;
}

button{
    font-size:15px;
    font-weight: 550;
    border-radius: 5px;
    border-width: 1px;
    padding: 0 .25em;
}

button:hover{
    background-color:rgb(216, 216, 216);
    box-shadow: 0 0 2px rgb(119, 119, 119);
    cursor: pointer;
}

html {
    font-size: 18px;
    background: rgb(255, 255, 255);
    margin-top: 0em;
    background-image: url("");
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    top: 0;
    padding: 0 0%;
    width: 100%;
    background: rgb(248, 248, 248);
    border-bottom: 1.5px solid rgb(238, 238, 238);
    box-shadow: 0px 0px 3px rgb(223, 223, 223);
}

header h3{
    font-size: 30px;
    margin-bottom: -1rem;
}

.user_nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user{
    width: 30px;
    padding-top: 15px;
    margin-bottom: -14px;
}

.login_links{
   margin: -1rem;
}

.nav_links, .login_links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 0em;
    align-content: space-between;
    letter-spacing: .005em;
    height: 50px;
}

.nav_links li, .login_links li{
    padding: 0px 10px;
    font-size: 19px;
    text-decoration: none;
    color: rgb(36, 36, 36);
}

.login_links li{
    font-size: 17px;
    padding: 0px 5px;
}

.nav_links li:hover, .login_links li:hover {
    color: white;
    border-radius: 9px;
    background: rgb(46, 46, 46);
    font-weight: lighter;
    box-shadow: 0 0 12px rgb(182, 182, 182);
    transition: background-color .7s ease;
    cursor: pointer;
}

h1{
    font-size: 35px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.equipment_name, .equipment_image, .description_link{
    cursor: pointer;
}

#studioImages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 400px;
    margin: 2rem auto;
    text-align: center;
    background: linear-gradient(19deg, rgb(36,36,36) 50%, rgb(46, 46, 46) 50%);
    box-shadow: 1px 2px 12px rgb(138, 138, 138);

}

.studioImage{
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 475px;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 11.5px;
    box-shadow: 0px 0px 5px rgb(48, 48, 48);
}

#aboutUs, .equipment{
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: -.5em auto;
    max-width: 1200px;
    width: auto;
    text-align: center;
    letter-spacing: .015em;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.picture {
    height: auto;
    width: calc(130px + 10vw);
    border-radius: 5px;
    box-shadow: 0 0 12px rgb(182, 182, 182);
}

.equipment{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipment_image{
    width: auto;
    max-width: 225px;
}

.imageDiv{
    display: flex;
    height: 235px;
    align-items: center;
}

.equipmentDetailsImage{
    width: auto;
    max-width: 400px;
}

.equipment_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1em;
    font-size: 16px;
    align-items: space-around;
    
}


.equipment_list article{
    padding: .5em;
    margin: .5em;
    border-radius: 5.5px;
    width: 250px;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#testing{
    width: 150px;
    height: 150px;
    align-content: center;
}

h3 {
    font-weight: 600;
    padding-bottom: 0em;
}

.equipment_list article p{
    padding-top: 0;
    font-size: 14px;
}

#app{
    min-height: calc(100vh - 280px);
}

footer {
    padding: .5em;
    text-align: center;
    font-size: .85em;
    width: 100%;
    font-weight: lighter;
    letter-spacing: .015em;
    position: static;
    background-color: rgb(36, 36, 36);
    height: auto;
    box-shadow: 1px -1px 12px rgb(138, 138, 138);

}

#footerStuff{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
    bottom: 0;
    left: 0;
}

.footerContent h4{
    color: rgb(255, 255, 255);
    list-style: none;
    font-size: 15px;
}


.footerContent li{
    color: rgb(255, 255, 255);
    list-style: none;
}

/* TESTING SLIDESHOW*/

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
  
/* Hide the images by default */
.mySlides {
    display: none;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.mySlides img{
    width: 50%;
    border-radius: 15px;
}

.category_name_user{
    cursor: pointer;
}

.text-danger{
    color: rgb(255, 70, 70);
    font-size: 14px;
    font-weight: 600;
}

/*EquipmentList*/
#category_dropdown{
    width: 200px;
}

/*SignUpForm*/
.signUpForm, .loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}